<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dummy Application</title>
    <style>
        .main {
            background-color: <%=data.color %>;
            color: white;
            width: 500px;
        }

        .container {
            display: flex;
            width: 100%;
            align-items: center;
            flex-flow: column;
        }

        body {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="main">
            <h1>Data</h1>
        </div>
        <div style="margin-top: 20px;    white-space: pre;">
            Hostname : <%= data.hostname %> <br />
            Time : <%= data.time %><br />
            Username : <%= data.username %>
            Secret : <%= data.secret %>
        </div>
    </div>
</body>

</html>